@import url("./global.css");


.sections{
    width: 100%;
    min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}

/* ======================== Section 1 ========================== */

#section1{
    background-color: #464646;
    background-image: url("../img/intro-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#unLogo{
    margin: 20px;
    margin-top: 100px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #ffffff98;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#unLogo *{
    margin: 10px;
}

#intro{
    margin: 20px;
    padding: 40px;
    max-width: 800px;
    min-height: fit-content;
    border-radius: 20px;
    background-color: #ffffff65;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#intro  h2{
    margin-bottom: 20px;
    font-size: 28px;
    color: rgb(23, 172, 218);
}

#intro  p{
    color: rgb(105, 105, 105);
    font-size: 20px;
}

#titleCategories{
    margin-top: 100px;
    margin-bottom: 20px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0);
    font-size: 30px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out 0s;
}

#titleCategories:hover{
background-color: rgba(240, 248, 255, 0.336);
color: #ffffff;
border: 2px solid white;
}


/* =================== Section2 ==================== */

#section2{
    background-image: url("../img/section2-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#s2Title{
    font-size: 30px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(27, 161, 214);
    color:   rgb(29, 159, 211);
    
    margin-top: 20px;
}

#categoriesDiv{
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    max-width: 1600px;
    height: fit-content;
    background-color: #74747433;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.categoryChild{
background-color: rgb(51, 51, 51);
width: 220px;
height: 220px;
margin: 20px;
border-radius: 5px;
border: 2px solid rgba(255, 255, 255, 0);
transition: all 0.3s ease-out 0s;
padding: 20px;
padding-bottom: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border: 2px solid rgba(255, 255, 255, 0);
}

.categoryChild:hover{
    transform: scale(1.1);
    background-color: #fff;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
    border: 3px solid rgba(255, 255, 255, 0.753);
}

.categoryChild h3{
    color: white;
}

.categoryChild h3 span{
    font-size: 34px;
}

#child01{
    background-color: rgb(255, 0, 64);
}

#child02{
    background-color: rgb(255, 222, 77);
}

#child03{
    background-color: rgb(38, 201, 38) ;
}

#child04{
    background-color: rgb(255, 0, 21);
}

#child05{
    background-color: rgb(255, 49, 13);
}

#child06{
    background-color: rgb(0, 206, 233);
}

#child07{
background-color: rgb(255, 208, 0);
}

#child08{
    background-color: rgb(172, 25, 74);
}

#child09{
    background-color: rgb(248, 119, 33);
}

#child10{
    background-color: rgb(201, 33, 111);
}

#child11{
    background-color: rgb(255, 174, 0);
}

#child12{
    background-color: rgb(199, 157, 65);
    
}

#child13{
background-color: rgb(58, 168, 58);
}

#child14{
background-color: rgb(34, 129, 207);
}

#child15{
 background-color: rgb(46, 190, 46);
}

#child16{
background-color: rgb(1, 139, 194);
}

#child17{
background-color: rgb(2, 111, 145);
}

